[main]
client = <client_name>
environment = <environment_name>
host = <ipv4>
port = 8443
systemversion = <agility_version>
prefetch = True
#connect on startup
connect = True
bs4path = <bs4_path>
lang = python
auto_dedupe = True

#[security]
#oauth or basic
auth = basic
username = <username>
password = <password>
#save session tokens into a cookie file
use_cookies = False
#re-authenticate if session token expires
reauthenticate = True
ssl_context_unverified = True
ssl_cacert_location = ca-cert.pem

[apiversion]
#v2.0 or v3.0 or v3.3 or current
version = current

[log]
level = INFO
